@model WebAppEF.Models.User
 
<h2>Add User</h2>
<form asp-action="create" asp-controller="home">
    <p>
        <label asp-for="Name"></label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <label asp-for="Age"></label><br />
        <input type="number" asp-for="Age" />
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>
</form>
